# List

In [6]:
list1=[] # empty list

In [10]:
print(type(list1))

<class 'list'>

In [26]:
list2=[10,20,30] # list with interger
list3=[10.22,20.55,30.88] # list with float
list4=['one','two','three'] # list with String
list5=['one',20,50,[55,66],[66,46]] # nested lists
list6=['one',32,77,] # list of mixed datatypes
list7=['one',20,50,[55,66],{'Pooja','raj'}] # nested lists

print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)

[10, 20, 30]
[10.22, 20.55, 30.88]
['one', 'two', 'three']
['one', 20, 50, [55, 66], [66, 46]]
['one', 32, 77]
['one', 20, 50, [55, 66], {'Pooja', 'raj'}]

In [28]:
len(list7)

5

# list Indexing

In [49]:
print(list2[1])
print(list7[4])
print(list3[2])
print(list6[0])

20
{'Pooja', 'raj'}
30.88
one

# list slicing

In [58]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [68]:
print(mylist[:]) # All values
print(mylist[0:5]) # 5 is n-1 = 0 to 4
print(mylist[2:5])
print(mylist[:6])
print(mylist[-3:]) # backward indexcing

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
['one', 'two', 'three', 'four', 'five']
['three', 'four', 'five']
['one', 'two', 'three', 'four', 'five', 'six']
['six', 'seven', 'eight']

# Add,remove & Change

In [79]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [102]:
mylist.append('nine')
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [88]:
mylist.append('ten')
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 'nine',
 'ten']

In [92]:
mylist.remove('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [94]:
mylist.remove('one')
mylist

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [112]:
mylist.pop() # ramove last index

'eight'

In [114]:
mylist

['two', 'three', 'five', 'six', 'seven']

In [116]:
mylist.pop(2)# Remove item at index location 8

'five'

In [120]:
mylist[0]=1
mylist[1]=2
mylist[3]=4
mylist # change the string to integer

[1, 2, 'six', 4]

mylist.clear()

In [124]:
mylist

[]

In [126]:
del mylist

In [128]:
mylist

NameError: name 'mylist' is not defined

#copy

In [141]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [145]:
mylist1=mylist
mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [147]:
id(mylist),id(mylist1)

(2416008473728, 2416008473728)

In [167]:
mylist2 = mylist.copy() # Create a copy of the list 
id(mylist2)

2416008423424

In [173]:
mylist[0]=1
print(mylist) # change the mylist string to integer
print(mylist1) # mylist1 will be also impacted as it is pointing to the same list 
#  print(mylist2)  # Copy of list won't be impacted due to changes made on the original list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#join lists

In [197]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight'] 
list3=list1+list2
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [199]:
list1.extend(list2) #Append list2 with list1 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#list membership

In [205]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [213]:
print('one'in list1) # checks (one ) in list1
print('ten'in list1)

True
False

In [245]:
if 'three' in list1: # Check if 'three' exist in the list 
    print('Three is present in the list')  # you have to add 4 spaces befor print then only you get output
else: 
    print('Three is not present in the list')

Three is present in the list

#Reverse & Sort List

In [264]:
(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [266]:
list1.reverse()
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [272]:
list1=list1[::-1]
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [282]:
l1=[55,88,22,66,77,99,11,00]
l1.sort()
l1

[0, 11, 22, 55, 66, 77, 88, 99]

In [334]:
l1.sort(reverse=True)
(l1)

[99, 88, 77, 66, 55, 22, 11, 0]

In [330]:
l4=[91,51,81,61,41,71,31]
sorted(l4)

[31, 41, 51, 61, 71, 81, 91]

In [323]:
l5=[22,55,88,33,44,77,51,31,66,98]
sorted(l5)

[22, 31, 33, 44, 51, 55, 66, 77, 88, 98]

#loop thorugh a list

In [337]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [339]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [345]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [349]:
l7=[55,66,77,55,21,21,33,31,41]
l7

[55, 66, 77, 55, 21, 21, 33, 31, 41]

In [355]:
l7.count(21)

2

In [359]:
all(l7) # Will Return false as one value is false (Value 0)

True

In [361]:
all(l1)

False